
<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
  </head>
  <body>

   <h3>A list of resources indexed by <span style="color:#ff846d">keyword</span></h3>

    <div id="autocomplete">
      <input class="typeahead form-control" type="text" placeholder="Keywords">
    </div>


    <ol>
    {% for article in articles.articles %}
        <li>{{ article.title }} -
            {% if article.keywords.length != 0 %}
                {% for k in article.keywords|slice:":5" %}
                    <span style="color:#ff846d"> {{ k }} - </span>
                {% endfor %}
            {% else %}
            <span style="color:#393eff"> No keyword: newsfeed </span>
            {% endif %}
            - <a href="{{ article.url }}">Go to ></a></li>
    {% endfor %}
    </ol>

    {% if bookmark %}
      <p><a href="?bookmark={{ bookmark }}">Next</a></p>
    {% endif %}

<link href="/articles.css" rel="stylesheet">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/typeahead.bundle.min.js"></script>
<script src="/articles.js"></script>

  </body>
</html>