<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title> CHRONOS - Low-Cost Space Exploration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>
<body>
Space Exploration is so interesting that <a href="http://www.projectchronos.org">Project Chronos'</a> application exceeded given resources quotas for today.<br/>
Try the <a href="http://rdfendpoints.appspot.com/articles/v04/">backup instance</a>.<br/>
Or try again in 24 hours (or decide to fund project's activities :).
</body>
</html>